[submodule "I2C-master-lib"]
	path = src/I2C-master-lib
	url = https://github.com/g4lvanix/I2C-master-lib.git
[submodule "Drivers"]
	path = src/Drivers
	url = https://github.com/mihaigalos/Drivers.git
[submodule "utils/3rdparty/esp32_eeprom_flasher"]
	path = utils/3rdparty/esp32_eeprom_flasher
	url = https://github.com/nullstalgia/esp32_eeprom_flasher
